<p-toast position="center"></p-toast>
<p-confirmDialog
  [style]="{ width: '50vw' }"
  [baseZIndex]="10000"
></p-confirmDialog>
<div class="container-fluid mt-4 text-right">
  <div class="row pnl-content">
    <div class="col-12 no-gutters p-0 m-0">
      <div class="row">
        <div class="col-lg-6 col-sm-12 mb-3">
          <label class="panel-form-label">نام کاربری</label>
          <input
            [(ngModel)]="admin.userName"
            name="userName"
            pInputText
            placeholder="نام کاربری"
            disabled="disabled"
          />
        </div>
        <div class="col-lg-6 col-sm-12 mb-3">
          <label class="panel-form-label">نام و نام خانوادگی</label>
          <input
            name="fullName"
            type="text"
            pInputText
            [(ngModel)]="admin.fullName"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-sm-12">
          <label class="panel-form-label">تصویر پروفایل</label>
          <img
            [src]="admin.image"
            class="img-fluid"
            width="150"
            *ngIf="admin.image != null || admin.image != ''"
          />
          <img
            src="../../../../../assets/images/user-default-black.png"
            class="img-fluid"
            width="150"
            *ngIf="admin.image == null || admin.image == ''"
          />
        </div>
      </div>
      <div class="row">
        <div class="col d-flex flex-row-reverse">
          <button
            pButton
            label="حذف"
            class="panel-dark-button mt-3"
            (click)="deleteAdmin()"
          ></button>
          <button
            pButton
            label="انصراف"
            class="panel-border-button mt-3 ml-2"
            (click)="cancel()"
          ></button>
        </div>
      </div>
    </div>
  </div>
</div>
