.agent-detail-card {
  border-radius: 4px;
  background-color: #fff;
  background-color: var(--mdc-theme-surface, #fff);
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.agent-wrapper {
  margin: -24px !important;
  text-align: right;
}
.social-icon .material-icons {
  background-repeat: no-repeat;
  display: inline-block;
  fill: currentColor;
  height: 24px;
  width: 24px;
}
.img-icon{
  width: 23px;
  height: 23px;
}
::ng-deep .main-pc-toolbar, ::ng-deep .main-mobile-toolbar {
  background-color: #FFFFFF;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}
::ng-deep .main-pc-toolbar .menu-img, ::ng-deep .main-mobile-toolbar .menu-img {
  fill: var(--color-green);
}
::ng-deep .main-pc-toolbar .nav-link {
  color: rgba($color: #000000, $alpha: .8) !important;
}
::ng-deep .p-rating{
  fill: chartreuse;
}