.news-item {
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding: 0 !important;
  flex-flow: row wrap;
  box-sizing: border-box;
  display: flex;

}

.news-card {
  border-radius: 4px;
  background-color: #fff;
  background-color: var(--mdc-theme-surface, #fff);
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}


.news-item .writer {
  margin-top: 8px;
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.54) !important;
  font-size: 11px;
}

.news-item .desc {
  font-family: IRANSans_Light;
  color: rgba(0, 0, 0, 0.54) !important;
  font-size: 12px;
}

:host::ng-deep .owl-carousel {
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);

}

:host::ng-deep .owl-prev,
:host::ng-deep .owl-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

:host::ng-deep .owl-prev {
  left: 0;
}

:host::ng-deep .owl-next {
  right: 0;
}

:host::ng-deep .owl-theme .owl-nav [class*=owl-] {
  color: #e0e0e0 !important;
  font-size: 8px;
  display: inline-block;
  cursor: pointer;
  border-radius: 50%;
  background-color: var(--color-green);
}


@media screen and (max-width: 767px) {
  .new-box {
    flex-direction: column-reverse !important;
  }

  .news-card img {
    margin: auto;
    display: block;
    text-align: center;
    max-height: 250px;
    width: 100% !important;
  }
}

.recent-blog h4 {
  border-bottom: 1px solid #ddd;
  color: #444;
  font-size: 17px;
  font-weight: 500;
  padding: 15px 10px;
  text-align: right;
}

.recent-blog {
  background: #ffffff none repeat scroll 0 0;
  margin-bottom: 10px;
  overflow: hidden;
  padding-bottom: 10px;
  border-radius: 5px;
  color: rgba(0, 0, 0, 0.70) !important;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
}

.recent-blog a {
  font-size: 14px;
  text-align: right;

}