.main-content-header {
  position: relative;
  z-index: 2;
  margin-top: -80px;
  border-top: 5px solid var(--color-green);
  padding: 24px !important;
}

.property-card {
  border-radius: 4px;
  background-color: #fff;
  background-color: var(--mdc-theme-surface, #fff);
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.properties-wrapper .item {
  padding: 0px;
}
.property-item.grid-item {
  flex-direction: row;
  flex-flow: column !important;
}

.property-item {
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding: 0 !important;
  flex-flow: row wrap;
  box-sizing: border-box;
  display: flex;
}
.property-item .thumbnail-section {
  position: relative;
}.property-item .property-status {

  position: absolute;
  right:5px;
  top: 5px;
  z-index: 2;
}
.property-item .price-type {
  position: absolute;
  top: 5px;
  z-index: 2;
}
.property-status span {
  padding: 3px 6px;
  margin: 4px;
  font-size: 11px;
  font-family: IRANSans_Bold;
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 4px;
  background: var(--color-green);
}
.price-type span{
  padding: 3px 6px;
  margin: 4px;
  font-size: 11px;
  font-family: IRANSans_Bold;
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 4px;
  background: var(--color-green);
}
.property-item .property-image {
  position: relative;
  min-height: 180px;
}.property-item .control-icons {
  position: absolute;
  z-index: 2;
  right: 4px;
  margin-top: -30px;
}.property-item .control-icons button.mdc-button {
  height: 26px;
  min-width: 26px;
  width: 26px;
  line-height: 26px;
  padding: 0;
  background: rgba(255, 252, 252, 0.6);
  transition: 0.2s;
  color: rgba(0, 0, 0, 0.87);
}.property-item .property-content-wrapper {
  flex: 1 1 100%;
  box-sizing: border-box;
  max-width: 100%;
  padding: 16px;
}.property-item .property-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}.property-item.grid-item.full-width-page.column-4 .title {
  font-size: 18px;
}
.property-item .title a {
  transition: 0.2s;
  text-decoration: none;
  color: #000;
}


property-item.grid-item.full-width-page.column-4 .address, .property-item.grid-item.full-width-page.column-4 .date {
  font-size: 12px;
}

.property-item .address, .property-item .date {
  margin-top: 8px;
  display: flex;
  align-items: center;
  color: rgb(139, 139, 139) !important;
  font-weight: 500;
}
.property-item .price span {
  display: block;
  color: var(--color-green)
}
.property-item .features p span:first-child {
  float: left;
  padding: 0 .4em 0 0;
  color: rgb(139, 139, 139) !important;
  font-weight: 500;
}
.property-item .features p:after {
  content: "";
  display: block;
  overflow: hidden;
  height: 1em;
  border-bottom: 1px dotted #ccc;
}
.property-item .features p span:last-child {
  float: left;
  padding: 0 .4em 0 0;
  color: rgba(0, 0, 0, 0.54) !important;
  font-weight: 500;
}
.property-item .features p span + span {
  float: right;
  padding: 0 0 0 .4em;
  font-weight: 500;
}
.property-item .control-icons button.add-to-favorite-button {
  height: 26px;
  min-width: 26px;
  width: 26px;
  line-height: 26px;
  border: none;
  border-radius: 4px;
  padding: 0;
  background: rgba(255, 252, 252, 0.6);
  transition: 0.2s;
  color: rgba(0, 0, 0, 0.87);
}

:host::ng-deep .p-dropdown{
  text-align: right;
  width: 100%;
}
:host::ng-deep .p-inputnumber {
  width: 100%;
}

:host::ng-deep .owl-carousel .owl-item {
  margin-bottom: 20px;
}
:host::ng-deep .owl-prev,
:host::ng-deep .owl-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

:host::ng-deep .owl-prev {
  left: 0;
}
:host::ng-deep .owl-next {
  right: 0;
}
:host::ng-deep .owl-theme .owl-nav [class*=owl-] {
  color: #e0e0e0 !important;
  font-size: 8px;
  display: inline-block;
  cursor: pointer;
  border-radius: 50%;
  background-color: var(--color-green);
}

