<div class="section default pb-70">
    <div class="px-3">

        <div class="theme-container">
            <h1 class="section-title">هدف ما</h1>
            <div class="goal-card p-0 o-hidden">
                <div class="col-xs-12 col-lg-6 col-xl-6 p-3">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 p-3 text-right">
                            <i class="material-icons mat-icon-xlg primary-color">monetization_on</i>
                            <h2 class="fw-600 mb-2">صرفه جویی در هزینه </h2>
                            <p class="text-muted fw-500 text-justify">
                                پتوس فعال در حوزه بازاریابی و فروش انواع ملک می باشد. پتوس فروش را آغاز تعاملی با
                                مشتریان خود می داند تا با آسودگی خاطر تمامی نیازهای مشتریان را فراهم نماید.
                            </p>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 p-3 text-right">
                            <i class="material-icons mat-icon-xlg primary-color">thumb_up</i>
                            <h2 class="fw-600 mb-2">ایده های برتر</h2>
                            <p class="text-muted fw-500 text-justify">
                                پتوس فعال در حوزه بازاریابی و فروش انواع ملک می باشد. پتوس فروش را آغاز تعاملی با
                                مشتریان خود می داند تا با آسودگی خاطر تمامی نیازهای مشتریان را فراهم نماید.
                            </p>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 p-3 text-right">
                            <i class="material-icons mat-icon-xlg primary-color">group</i>
                            <h2 class="fw-600 mb-2">دسته بندی</h2>
                            <p class="text-muted fw-500 text-justify">
                                پتوس فعال در حوزه بازاریابی و فروش انواع ملک می باشد. پتوس فروش را آغاز تعاملی با
                                مشتریان خود می داند تا با آسودگی خاطر تمامی نیازهای مشتریان را فراهم نماید.
                            </p>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 p-3 text-right">
                            <i class="material-icons mat-icon-xlg primary-color">search</i>
                            <h2 class="fw-600 mb-2">جستجوی راحت</h2>
                            <p class="text-muted fw-500 text-justify">
                                پتوس فعال در حوزه بازاریابی و فروش انواع ملک می باشد. پتوس فروش را آغاز تعاملی با
                                مشتریان خود می داند تا با آسودگی خاطر تمامی نیازهای مشتریان را فراهم نماید.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-lg-6 col-xl-6 p-0 d-none d-lg-flex d-xl-flex">
                    <img src="../../../../assets/images/goal.jpg" alt="goal" class="mw-100 d-block">
                </div>
            </div>

        </div>

    </div>
</div>