<p-toast position="center"></p-toast>
<div class="px-3">
  <div class="theme-container">
    <div class="row justify-content-center my-5">
      <div class="mdc-card p-3 p-relative mw-500px">
        <div class="container-fluid">
          <div class="row justify-content-center text-center">
            <div class="col-12">
              <h1>ثبت نام / ورود</h1>
            </div>
          </div>

          <form (ngSubmit)="sendSMS()" [formGroup]="form" class="w-100">
            <div class="row justify-content-center">
              <div class="col-12 mt-4">
                <span class="p-input-icon-right w-100">
                  <i class="pi pi-user"></i>
                  <input
                    pKeyFilter="int"
                    class="form-control"
                    formControlName="mobile"
                    maxlength="11"
                    minlength="11"
                    name="mobile"
                    pInputText
                    placeholder="شماره موبایل"
                    required
                  />
                </span>

                <ul
                  class="mt-1 text-right list-inline"
                  *ngFor="let error of errorMessages.mobile"
                >
                  <li
                    class="
                      font-small
                      text-danger
                      font-weight-bold
                      list-inline-item
                    "
                    *ngIf="
                      form.get('mobile').hasError(error.type) &&
                      (form.get('mobile').dirty || form.get('mobile').touched)
                    "
                  >
                    {{ error.message }}
                  </li>
                </ul>
              </div>
              <div class="col-12 my-5 text-center">
                <button class="green-button" [disabled]="form.invalid">
                  ارسال پیام کوتاه
                </button>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-12 text-center">
                <small class="terms-text"
                  >با ورود به حساب کاربری، با
                  <a
                    [routerLink]="['/terms']"
                    class="btn btn-link primary-color px-1"
                  >
                    شرایط و ضوابط
                  </a>
                  ما موافقت کرده اید.</small
                >
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<p-dialog
  [(visible)]="display"
  [style]="{ width: '60vw' }"
  (onHide)="onCloseDialog()"
>
  <ng-template pTemplate="header"> اعتبارسنجی شماره همراه </ng-template>

  <div class="row justify-content-center">
    <div class="col-12">
      <p class="text-right">
        کد ارسال شده به شماره همراه در کادر زیر وارد نمائید
      </p>
    </div>

    <div class="col-12 text-center mb-3">
      <div class="clockdiv">
        <span class="seconds">
          {{ timeLeft }}
        </span>
      </div>
    </div>
    <div class="col-12 text-center">
      <ng-otp-input
        #ngOtpInput
        (onInputChange)="onOtpChange($event)"
        [config]="{ length: 5, allowNumbersOnly: true }"
        dir="ltr"
        style="font-family: IRANSansWeb"
        class="text-center"
      ></ng-otp-input>
      <input
        type="text"
        autocomplete="one-time-code"
        inputmode="numeric"
        class="mt-5"
      />
      <script>
        if ("OTPCredential" in window) {
          window.addEventListener("DOMContentLoaded", (e) => {
            const input = document.querySelector(
              'input[autocomplete="one-time-code"]'
            );
            if (!input) return;
            const ac = new AbortController();
            const form = input.closest("form");
            if (form) {
              form.addEventListener("submit", (e) => {
                ac.abort();
              });
            }
            navigator.credentials
              .get({
                otp: { transport: ["sms"] },
                signal: ac.signal,
              })
              .then((otp) => {
                input.value = otp.code;
                if (form) form.submit();
              })
              .catch((err) => {
                console.log(err);
              });
          });
        }
      </script>
      <p class="text-danger mt-2 mb-3 text-center" *ngIf="invalidSMS">
        کد وارد شده اشتباه می باشد.
      </p>
      <a
        class="mt-2 mb-3 small text-center"
        (click)="sendSMS()"
        *ngIf="resendSMS"
        >ارسال مجدد کد</a
      >
    </div>
  </div>

  <!-- <ng-template pTemplate="footer">
    <div class="row justify-content-center mt-3">
      <button
        pButton
        (click)="redirectToPanel()"
        type="submit"
        class="green-button"
        label="ورود به حساب کاربری"
        cornerStyleClass="text-center"
        [disabled]="validationBtnPay"
      ></button>
    </div>
  </ng-template> -->
</p-dialog>
