

.header-image-wrapper {
  position: relative;
  overflow: hidden;
  margin-top: -72px;
  padding-top: 36px;
}


.header-image-wrapper .bg {
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-image: url(../../../assets/images/contact.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.header-image-wrapper .mask {
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: 1;
}

.header-image-wrapper .header-image-content.home-page {
  min-height: 480px;
}

.header-image-wrapper .header-image-content.offset-bottom {
  padding-bottom: 80px;
  min-height: 400px;
}

.header-image-wrapper .header-image-content {
  position: relative;
  min-height: 320px;
  color: #fff;
  z-index: 1;
  box-sizing: border-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-image-wrapper .header-image-content {
  position: relative;
  min-height: 320px;
  color: #fff;
  z-index: 1;
  box-sizing: border-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-image-wrapper .header-image-content .title {
  margin: 0;
  font-size: 32px;
  text-align: center;
}
.header-image-wrapper .header-image-content .desc {
  margin: 0;
  font-size: 20px;
  padding: 0 20px;
  text-align: center;
}
@media screen and (max-width: 599px) {
  .header-image-wrapper .header-image-content.offset-bottom {
    min-height: 320px;
  }

  .header-image-wrapper .header-image-content.home-page {
    min-height: 400px;
  }

  .header-image-wrapper .header-image-content {
    min-height: 240px;
  }
  .header-image-wrapper .header-image-content .desc {
    font-size: 16px;
  }
}



main.content-offset-to-top .main-content-header {
  margin-top: -80px;
  border-top: 5px solid var(--color-green);
}

.main-content-header {
  position: relative;
  z-index: 2;
  margin-top: -80px;
  border-top: 5px solid var(--color-green);
  padding: 24px !important;
}

.mdc-card {
  border-radius: 4px;
  background-color: #fff;
  background-color: var(--mdc-theme-surface, #fff);
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}


.divider {
  position: absolute;
  left: 2%;
  width: 96%;
  display: block;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: rgba(0, 0, 0, 0.12)
}

.contact input{
  width: 100%;
  height: 50px;
}
.contact textarea{
  width: 100%;
}
