<div class="section mt-3 pb-70">
    <div class="px-3">
        <div class="theme-container">
            <h1 class="section-title">خدمات پتوس</h1>
            <div class="services-wrapper row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 py-2">
                    <div class="service-card h-100 w-100 text-center p-3">
                        <i class="material-icons mat-icon-xlg primary-color">location_on</i>
                        <h2 class="fw-600 my-3">یافتن مناسب ترین ملک</h2>
                        <p class="text-muted fw-500"> پتوس فعال در حوزه بازاریابی و فروش انواع ملک می باشد. پتوس فروش را آغاز تعاملی با مشتریان خود می داند تا با آسودگی خاطر تمامی نیازهای مشتریان را فراهم نماید.</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 py-2">
                    <div class="service-card h-100 w-100 text-center p-3">
                        <i class="material-icons mat-icon-xlg primary-color">supervisor_account</i>
                        <h2 class="fw-600 my-3">مشاورین با تجربه</h2>
                        <p class="text-muted fw-500"> پتوس فعال در حوزه بازاریابی و فروش انواع ملک می باشد. پتوس فروش را آغاز تعاملی با مشتریان خود می داند تا با آسودگی خاطر تمامی نیازهای مشتریان را فراهم نماید.</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 py-2">
                    <div class="service-card h-100 w-100 text-center p-3">
                        <i class="material-icons mat-icon-xlg primary-color">home</i>
                        <h2 class="fw-600 my-3">خرید یا اجاره ملک</h2>
                        <p class="text-muted fw-500"> پتوس فعال در حوزه بازاریابی و فروش انواع ملک می باشد. پتوس فروش را آغاز تعاملی با مشتریان خود می داند تا با آسودگی خاطر تمامی نیازهای مشتریان را فراهم نماید.</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 py-2">
                    <div class="service-card h-100 w-100 text-center p-3">
                        <i class="material-icons mat-icon-xlg primary-color">format_list_bulleted</i>
                        <h2 class="fw-600 my-3">دسته بندی املاک</h2>
                        <p class="text-muted fw-500"> پتوس فعال در حوزه بازاریابی و فروش انواع ملک می باشد. پتوس فروش را آغاز تعاملی با مشتریان خود می داند تا با آسودگی خاطر تمامی نیازهای مشتریان را فراهم نماید.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  