<div class="header-image-wrapper">
  <div class="bg"></div>
  <div class="mask"></div>
  <div class="header-image-content home-page offset-bottom">
    <h1 class="title mb-4">خانه رویاییت را پیدا کن!</h1>
    <p class="desc">جستجو بین هزاران مورد</p>
  </div>
</div>
<div class="px-3">
  <div class="theme-container">
    <div class="mdc-card main-content-header pt-0">
        <div class="section pt-0">
            <div class="px-3">
                <div class="theme-container">
                    <h1 class="section-title">مسیر ما</h1>
                    <p class="px-3 text-right text-justify">پتوس فعال در حوزه بازاریابی و فروش انواع ملک می باشد. پتوس فروش را آغاز تعاملی با مشتریان خود می داند تا با آسودگی خاطر تمامی نیازهای مشتریان را فراهم نماید.</p>
                    <div class="row about mt-4">
                        <div class="col-xs-12 col-sm-12 col-md-6 p-3">
                            <div class="row justify-content-start mb-3">
                                <i class="material-icons mat-icon-xlg primary-color">business</i>
                                <h2 class="fw-600 mx-2">درباره شرکت</h2>
                            </div>
                            <p class="mt-2 text-right text-justify">پتوس فعال در حوزه بازاریابی و فروش انواع ملک می باشد. پتوس فروش را آغاز تعاملی با مشتریان خود می داند تا با آسودگی خاطر تمامی نیازهای مشتریان را فراهم نماید.</p>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 p-3">
                            <div class="row justify-content-start mb-3">
                                <i class="material-icons mat-icon-xlg primary-color">list_alt</i>
                                <h2 class="fw-600 mx-2">چشم انداز</h2>
                            </div>
                            <p class="mt-2 text-right text-justify">پتوس فعال در حوزه بازاریابی و فروش انواع ملک می باشد. پتوس فروش را آغاز تعاملی با مشتریان خود می داند تا با آسودگی خاطر تمامی نیازهای مشتریان را فراهم نماید.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>


<div class="section default pb-70">
  <div class="px-3">

    <div class="theme-container">
      <h1 class="section-title">هدف ما</h1>
      <div class="goal-card p-0 o-hidden">
          <div class="col-xs-12 col-lg-6 col-xl-6 p-3">
             <div class="row">
                  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 p-3 text-right">
                      <i class="material-icons mat-icon-xlg primary-color">monetization_on</i>
                      <h2 class="fw-600 mb-2">صرفه جویی در هزینه </h2>
                      <p class="text-muted fw-500 text-justify">پتوس فعال در حوزه بازاریابی و فروش انواع ملک می باشد. پتوس فروش را آغاز تعاملی با مشتریان خود می داند تا با آسودگی خاطر تمامی نیازهای مشتریان را فراهم نماید.</p>
                  </div>
                  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 p-3 text-right">
                      <i class="material-icons mat-icon-xlg primary-color">thumb_up</i>
                      <h2 class="fw-600 mb-2">ایده های برتر</h2>
                      <p class="text-muted fw-500 text-justify">پتوس فعال در حوزه بازاریابی و فروش انواع ملک می باشد. پتوس فروش را آغاز تعاملی با مشتریان خود می داند تا با آسودگی خاطر تمامی نیازهای مشتریان را فراهم نماید.</p>
                  </div>
                  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 p-3 text-right">
                      <i class="material-icons mat-icon-xlg primary-color">group</i>
                      <h2 class="fw-600 mb-2">دسته بندی</h2>
                      <p class="text-muted fw-500 text-justify">پتوس فعال در حوزه بازاریابی و فروش انواع ملک می باشد. پتوس فروش را آغاز تعاملی با مشتریان خود می داند تا با آسودگی خاطر تمامی نیازهای مشتریان را فراهم نماید.</p>
                  </div>
                  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 p-3 text-right">
                      <i class="material-icons mat-icon-xlg primary-color">search</i>
                      <h2 class="fw-600 mb-2">جستجوی راحت</h2>
                      <p class="text-muted fw-500 text-justify">پتوس فعال در حوزه بازاریابی و فروش انواع ملک می باشد. پتوس فروش را آغاز تعاملی با مشتریان خود می داند تا با آسودگی خاطر تمامی نیازهای مشتریان را فراهم نماید.</p>
                  </div>
             </div>
          </div>
          <div class="col-xs-12 col-lg-6 col-xl-6 p-0 d-none d-lg-flex d-xl-flex">
              <img src="../../../../assets/images/goal.jpg" alt="goal" class="mw-100 d-block">
          </div>
      </div>

  </div>

  </div>
</div>

<div class="section mt-3 pb-70">
    <div class="px-3">
        <div class="theme-container">
            <h1 class="section-title">خدمات پتوس</h1>
            <div class="services-wrapper row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 py-2">
                    <div class="service-card h-100 w-100 text-center p-3">
                        <i class="material-icons mat-icon-xlg primary-color">location_on</i>
                        <h2 class="fw-600 my-3">یافتن مناسب ترین ملک</h2>
                        <p class="text-muted fw-500"> پتوس فعال در حوزه بازاریابی و فروش انواع ملک می باشد. پتوس فروش را آغاز تعاملی با مشتریان خود می داند تا با آسودگی خاطر تمامی نیازهای مشتریان را فراهم نماید.</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 py-2">
                    <div class="service-card h-100 w-100 text-center p-3">
                        <i class="material-icons mat-icon-xlg primary-color">supervisor_account</i>
                        <h2 class="fw-600 my-3">مشاورین با تجربه</h2>
                        <p class="text-muted fw-500"> پتوس فعال در حوزه بازاریابی و فروش انواع ملک می باشد. پتوس فروش را آغاز تعاملی با مشتریان خود می داند تا با آسودگی خاطر تمامی نیازهای مشتریان را فراهم نماید.</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 py-2">
                    <div class="service-card h-100 w-100 text-center p-3">
                        <i class="material-icons mat-icon-xlg primary-color">home</i>
                        <h2 class="fw-600 my-3">خرید یا اجاره ملک</h2>
                        <p class="text-muted fw-500"> پتوس فعال در حوزه بازاریابی و فروش انواع ملک می باشد. پتوس فروش را آغاز تعاملی با مشتریان خود می داند تا با آسودگی خاطر تمامی نیازهای مشتریان را فراهم نماید.</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 py-2">
                    <div class="service-card h-100 w-100 text-center p-3">
                        <i class="material-icons mat-icon-xlg primary-color">format_list_bulleted</i>
                        <h2 class="fw-600 my-3">دسته بندی املاک</h2>
                        <p class="text-muted fw-500"> پتوس فعال در حوزه بازاریابی و فروش انواع ملک می باشد. پتوس فروش را آغاز تعاملی با مشتریان خود می داند تا با آسودگی خاطر تمامی نیازهای مشتریان را فراهم نماید.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  