<section class="breadcrumbs">
  <div class="container">
    <ol class="pb-0">
      <li><a routerLink="/"><i class="pi pi-home"></i></a></li>
      <li>شرایط و ضوابط</li>
    </ol>
  </div>
</section>
<div class="px-3 py-4">
  <div class="theme-container">
    <div class="row m-0 justify-content-center">
      <div class="mdc-card p-5 my-3 text-right terms">
        <p class="text-justify">
          پتوس فعال در حوزه بازاریابی و فروش انواع ملک می باشد. پتوس فروش را آغاز تعاملی با مشتریان خود می داند تا با
          آسودگی خاطر تمامی نیازهای مشتریان را فراهم نماید.
        </p>

        <h3>Privacy Statement</h3>
        <p class="text-justify">
          پتوس فعال در حوزه بازاریابی و فروش انواع ملک می باشد. پتوس فروش را آغاز تعاملی با مشتریان خود می داند تا با
          آسودگی خاطر تمامی نیازهای مشتریان را فراهم نماید.
          پتوس فعال در حوزه بازاریابی و فروش انواع ملک می باشد. پتوس فروش را آغاز تعاملی با مشتریان خود می داند تا با
          آسودگی خاطر تمامی نیازهای مشتریان را فراهم نماید.پتوس فعال در حوزه بازاریابی و فروش انواع ملک می باشد. پتوس
          فروش را آغاز تعاملی با مشتریان خود می داند تا با آسودگی خاطر تمامی نیازهای مشتریان را فراهم نماید.
        </p>

        <h3>Disclaimer, Exclusions and Limitations</h3>

        <p class="text-justify">
          The information on this web site is provided on an "as is" basis. To
          the fullest extent permitted by law, this Company:
        </p>
        <ul class="px-3">
          <li>
            پتوس فعال در حوزه بازاریابی و فروش انواع ملک می باشد. پتوس فروش را آغاز تعاملی با مشتریان خود می داند تا با
            آسودگی خاطر تمامی نیازهای مشتریان را فراهم نماید.
          </li>
          <li>
            پتوس فعال در حوزه بازاریابی و فروش انواع ملک می باشد. پتوس فروش را آغاز تعاملی با مشتریان خود می داند تا با
            آسودگی خاطر تمامی نیازهای مشتریان را فراهم نماید.
          </li>
        </ul>
        <p class="text-justify">
          پتوس فعال در حوزه بازاریابی و فروش انواع ملک می باشد. پتوس فروش را آغاز تعاملی با مشتریان خود می داند تا با
          آسودگی خاطر تمامی نیازهای مشتریان را فراهم نماید.
        </p>

        <h3>Cancellation Policy</h3>
        <p class="text-justify">
          پتوس فعال در حوزه بازاریابی و فروش انواع ملک می باشد. پتوس فروش را آغاز تعاملی با مشتریان خود می داند تا با
          آسودگی خاطر تمامی نیازهای مشتریان را فراهم نماید.
        </p>



        <h3>Availability</h3>
        <p class="text-justify">
          پتوس فعال در حوزه بازاریابی و فروش انواع ملک می باشد. پتوس فروش را آغاز تعاملی با مشتریان خود می داند تا با
          آسودگی خاطر تمامی نیازهای مشتریان را فراهم نماید.
        </p>

        <h3>Cookies</h3>
        <p class="text-justify">
          پتوس فعال در حوزه بازاریابی و فروش انواع ملک می باشد. پتوس فروش را آغاز تعاملی با مشتریان خود می داند تا با
          آسودگی خاطر تمامی نیازهای مشتریان را فراهم نماید.
        </p>

        <h3>Copyright Notice</h3>
        <p class="text-justify">
          پتوس فعال در حوزه بازاریابی و فروش انواع ملک می باشد. پتوس فروش را آغاز تعاملی با مشتریان خود می داند تا با
          آسودگی خاطر تمامی نیازهای مشتریان را فراهم نماید.
        </p>

        <h3>Force Majeure</h3>
        <p class="text-justify">
          پتوس فعال در حوزه بازاریابی و فروش انواع ملک می باشد. پتوس فروش را آغاز تعاملی با مشتریان خود می داند تا با
          آسودگی خاطر تمامی نیازهای مشتریان را فراهم نماید.
        </p>

        <h3>Notification of Changes</h3>
        <p class="text-justify">
          پتوس فعال در حوزه بازاریابی و فروش انواع ملک می باشد. پتوس فروش را آغاز تعاملی با مشتریان خود می داند تا با
          آسودگی خاطر تمامی نیازهای مشتریان را فراهم نماید.
        </p>

        <h3>
          پتوس فعال در حوزه بازاریابی و فروش انواع ملک می باشد. پتوس فروش را آغاز تعاملی با مشتریان خود می داند تا با
          آسودگی خاطر تمامی نیازهای مشتریان را فراهم نماید.
        </h3>

        <p class="text-left">© Pothos 2021 All Rights Reserved</p>
      </div>
    </div>
  </div>
</div>