.breadcrumbs {
  padding: 15px 0;
  background: #fff !important;
  min-height: 40px;
  color: #4d4d4d;
  margin-top: 15px;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);

}

@media (max-width: 992px) {
  .breadcrumbs {
    margin-top: 10px;
  }
  .blog .entry .entry-title a {
    font-size: 16px;
  }

}

.breadcrumbs h2 {
  font-size: 18px;
  font-weight: 500;
  text-align: right;
}

.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0 0 10px 0;
  margin: 0;
  font-size: 14px;
}

.breadcrumbs ol a {
  color: #4d4d4d;
  transition: 0.3s;
}

.breadcrumbs ol li + li {
  padding-left: 10px;
  padding-right: 10px;
}
.breadcrumbs ol li + li::before {
  display: inline-block;
  padding-left: 10px !important;
  padding-right: 0px !important;
  color: #4d4d4d;
  content: "/";
}
.breadcrumb-item+.breadcrumb-item::before {
  float: right !important;
  padding-right: .5rem;
  color: #6c757d;
  content: "/";
}
.breadcrumb-item.active {
  color: #4d4d4d;
  opacity: .8;
}
.nuxt-link-active{
  cursor: pointer;
}

.mdc-card {
  border-radius: 4px;
  background-color: #fff;
  background-color: var(--mdc-theme-surface, #fff);
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

::ng-deep .main-pc-toolbar, ::ng-deep .main-mobile-toolbar {
  background-color: #FFFFFF;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}
::ng-deep .main-pc-toolbar .menu-img, ::ng-deep .main-mobile-toolbar .menu-img {
  fill: var(--color-green);
}
::ng-deep .main-pc-toolbar .nav-link {
  color: rgba($color: #000000, $alpha: .8) !important;
}
.terms p, .terms ul{
padding-bottom: 15px;
}
.terms p, .terms ul li{
  font-weight: normal;
  color: rgba(0,0,0,.87);
  font-size: 12px;
  font-size: IRANSans_Light;

}
