.breadcrumbs {
  padding: 15px 0;
  background: #fff !important;
  min-height: 40px;
  color: #4d4d4d;
  margin-top: 15px;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);

}

@media (max-width: 992px) {
  .breadcrumbs {
    margin-top: 10px;
  }
  .blog .entry .entry-title a {
    font-size: 16px;
  }

}

.breadcrumbs h2 {
  font-size: 18px;
  font-weight: 500;
  text-align: right;
}

.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0 0 10px 0;
  margin: 0;
  font-size: 14px;
}

.breadcrumbs ol a {
  color: #4d4d4d;
  transition: 0.3s;
}

.breadcrumbs ol li + li {
  padding-left: 10px;
  padding-right: 10px;
}
.breadcrumbs ol li + li::before {
  display: inline-block;
  padding-left: 10px !important;
  padding-right: 0px !important;
  color: #4d4d4d;
  content: "/";
}
.breadcrumb-item+.breadcrumb-item::before {
  float: right !important;
  padding-right: .5rem;
  color: #6c757d;
  content: "/";
}
.breadcrumb-item.active {
  color: #4d4d4d;
  opacity: .8;
}
.nuxt-link-active{
  cursor: pointer;
}

.header-image-wrapper {
  position: relative;
  overflow: hidden;
  margin-top: -72px;
  padding-top: 36px;
}

.header-image-wrapper .bg {
  width: 110%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-image: url(../../../assets/images/contact.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.header-image-wrapper .mask {
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: 1;
}

.header-image-wrapper .header-image-content {
  position: relative;
  min-height: 320px;
  color: #fff;
  z-index: 1;
  box-sizing: border-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-image-wrapper .header-image-content.mh-200 {
  min-height: 200px;
}

.header-image-wrapper .header-image-content .desc {
  margin: 0;
  font-size: 24px;
  padding: 0 16px;
  text-align: center;
}

@media screen and (max-width: 599px) {
  .header-image-wrapper .header-image-content {
    min-height: 240px;
  }

  .header-image-wrapper .header-image-content .desc {
    font-size: 16px;
  }
}

.img-icon{
  width: 23px;
  height: 23px;
}

.agent-card {
  border-radius: 4px;
  background-color: #fff;
  background-color: var(--mdc-theme-surface, #fff);
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
