<p-toast position="center"></p-toast>

<div class="container-fluid mt-4 text-right">
  <div class="row pnl-content">
    <form [formGroup]="form" (ngSubmit)="submitForm()" class="w-100">
      <div class="row">
        <div class="col-lg-6 col-sm-12 mb-3">
          <label class="panel-form-label"
            >عنوان<b class="text-danger">*</b></label
          >
          <input
            formControlName="title"
            name="title"
            pInputText
            placeholder="عنوان"
          />
          <ul
            class="mt-1 text-right list-inline"
            *ngFor="let error of errorMessages.title"
          >
            <li
              class="font-small text-danger font-weight-bold list-inline-item"
              *ngIf="
                form.get('title').hasError(error.type) &&
                (form.get('title').dirty || form.get('title').touched)
              "
            >
              {{ error.message }}
            </li>
          </ul>
        </div>
        <div class="col-lg-6 col-sm-12 mb-3">
          <label class="panel-form-label">دسته بندی املاک</label>
          <p-dropdown
            appendTo="body"
            emptyFilterMessage="نتیجه ای یافت نشد"
            emptyMessage="نتیجه ای یافت نشد"
            [options]="categories"
            optionLabel="title"
            formControlName="propertyCategoryID"
            (onChange)="onCategoryChange($event)"
            [filter]="true"
            filterBy="title"
            placeholder="-- انتخاب کنید --"
          >
          </p-dropdown>

          <ul
            class="mt-1 text-right list-inline"
            *ngFor="let error of errorMessages.propertyCategoryID"
          >
            <li
              class="font-small text-danger font-weight-bold list-inline-item"
              *ngIf="
                form.get('propertyCategoryID').hasError(error.type) &&
                (form.get('propertyCategoryID').dirty ||
                  form.get('propertyCategoryID').touched)
              "
            >
              {{ error.message }}
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 mb-3" formGroupName="detail">
          <label class="panel-form-label">پیام</label>
          <textarea
            formControlName="message"
            name="message"
            pInputText
            placeholder="پیام"
          ></textarea>
          <ul
            class="mt-1 text-right list-inline"
            *ngFor="let error of errorMessages.message"
          >
            <li
              class="font-small text-danger font-weight-bold list-inline-item"
              *ngIf="
                form.get('detail.message').hasError(error.type) &&
                (form.get('detail.message').dirty ||
                  form.get('detail.message').touched)
              "
            >
              {{ error.message }}
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col d-flex flex-row-reverse">
          <button
            type="submit"
            pButton
            label="ثبت"
            [disabled]="form.invalid"
            class="panel-dark-button mt-3"
          ></button>
        </div>
      </div>
    </form>
  </div>
</div>
